In [1]:
import numpy as np
import pandas as pd
import glob as glob

In [4]:
path = r'J:\Brainstatio|n\Capstone Git\Apollo_Beach_Model\data\PossibleDataSources'

In [5]:
csv_files=glob.glob('*.csv')

In [6]:
csv_files

['BenthicBaseAreas.csv',
 'BenthicBaseFieldSamples.csv',
 'BenthicBaseFundingProject.csv',
 'BenthicBaseHeader.csv',
 'BenthicBasePrograms.csv',
 'BenthicBaseProgramsStations.csv',
 'BenthicBaseSegmentName.csv',
 'BenthicBaseStations.csv',
 'BenthicBaseTaxaCount.csv',
 'BenthicBaseTaxaIdGroup.csv',
 'BenthicBaseTaxaList.csv',
 'BenthicBaseTaxaUnits.csv']

In [7]:
df_list

NameError: name 'df_list' is not defined

In [8]:
[var for var in dir() if isinstance(eval(var), pd.core.frame.DataFrame)].info()

AttributeError: 'list' object has no attribute 'info'

,TaxaID,StationID,Grab,TaxaListId,COUNT,Qualifier,VOUCHER_NUM,ID_COMMENTS,LabIDNumber,EnteredBy,EnteredDate,TaxonomistID,IDDate,Units,qcd,TaxaListID,NODCCODE,Type,NAME,REFERENCE_YEAR,PreviousName,DESCRIP_REFERENCE,TAXA_ID,Genus,Kingdom,PHYLUM,SUBPHYLUM,CLASS,SubClass,ORDER,SUBORDER,InfraOrder,FAMILY,SUBFAMILY,COLONIAL/PLANKTONIC?,TaxaDescription,DateAdded,GulfChecklist,FMRIChecklist,Active,TS,FeedingID,EcoGroupId,Epifaunal,FeedingReference,Infraclass,Superfamily,LastReviewed,ReviewSource
0,175920,2484.0,2,988,1.0,NaN,NaN,"orig id= Crepidula sp., bumped up due to gener...",NaN,NaN,10/16/2012 0:00,1.0,NaN,1,1,988,5.10E+11,Fam,Calyptraeidae,"Lamarck, 1809","Crepidula sp. Lamarck, 1799 (all occurrences d...",NaN,2,Crepidula,NaN,Mollusca,NaN,Gastropoda,Caenogastropoda,Littorinimorpha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,0x000000000008EDCC,NaN,3.0,NaN,NaN,NaN,Calyptraeoidea,11/30/2023 0:00,WORMs
1,152055,11321.0,1,1198,1.0,NaN,NaN,large specimen,NaN,10040.0,9/27/2010 0:00,140.0,NaN,1,0,1198,5.51E+11,Spe,Anomia simplex,"d'Orbigny, 1853",NaN,NaN,2,Anomia,NaN,Mollusca,NaN,Bivalvia,Pteriomorphia,Pectinida,NaN,NaN,Anomiidae,NaN,NaN,NaN,NaN,1.0,1.0,1.0,0x000000000008EE80,NaN,1.0,NaN,NaN,NaN,Anomioidea,11/30/2023 0:00,WORMs
2,152056,11321.0,1,1224,1.0,NaN,NaN,large specimen,NaN,10040.0,9/27/2010 0:00,140.0,NaN,1,0,1224,5.52E+11,Spe,Cardites floridanus,"(Conrad, 1838)","Carditamera floridana Conrad, 1838; Cardita fl...",NaN,2,Cardites,NaN,Mollusca,NaN,Bivalvia,Heterodonta,Carditida,NaN,NaN,Carditidae,NaN,NaN,NaN,NaN,1.0,1.0,1.0,0x000000000008EE9A,NaN,NaN,NaN,NaN,Archiheterodonta,Carditoidea,11/30/2023 0:00,WORMs; Genus change 12/2002; Genus change 4/2021

In [3]:
# Running into encoding issues
for file in csv_files:
    dfs[file]=pd.read_csv(file)

NameError: name 'csv_files' is not defined

In [9]:
# Attempt to read csv with different encoding
bbAreas_df=pd.read_csv('BenthicBaseAreas.csv')
bbFieldSamples=pd.read_csv('BenthicBaseFieldSamples.csv')
bbFundingProject=pd.read_csv('BenthicBaseFundingProject.csv')
bbHeader=pd.read_csv('BenthicBaseHeader.csv', sep=",", encoding='cp1252')
bbPrograms=pd.read_csv('BenthicBasePrograms.csv')
bbProgramsSts=pd.read_csv('BenthicBaseProgramsStations.csv')
bbSegName=pd.read_csv('BenthicBaseSegmentName.csv')
bbStations=pd.read_csv('BenthicBaseStations.csv')
bbTaxaCt=pd.read_csv('BenthicBaseTaxaCount.csv',sep=",", encoding='cp1252')
bbTaxaID=pd.read_csv('BenthicBaseTaxaIDGroup.csv', sep=",", encoding='cp1252')
bbTaxaList=pd.read_csv('BenthicBaseTaxaList.csv', sep=",", encoding='cp1252')
bbTaxaUnits=pd.read_csv('BenthicBaseTaxaUnits.csv')
# Success

In [27]:
# Set max columns on display 
pd.set_option("display.max_columns", None)

In [30]:
bbTaxaList

,TaxaListID,NODCCODE,Type,NAME,REFERENCE_YEAR,PreviousName,DESCRIP_REFERENCE,TAXA_ID,Genus,Kingdom,PHYLUM,SUBPHYLUM,CLASS,SubClass,ORDER,SUBORDER,InfraOrder,FAMILY,SUBFAMILY,COLONIAL/PLANKTONIC?,TaxaDescription,DateAdded,GulfChecklist,FMRIChecklist,Active,TS,FeedingID,EcoGroupId,Epifaunal,FeedingReference,Infraclass,Superfamily,LastReviewed,ReviewSource
0,2170,1.10E+11,Phy,CHROMOPHYTA,NaN,NaN,NaN,6,NaN,Chromista,Chromophyta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,flagellates not in WORMS or AlgaeBase,12/17/2009 0:00,NaN,NaN,1.0,0x000000000008F08A,NaN,NaN,NaN,NaN,NaN,NaN,12/13/2023 0:00,NaN
1,2171,1103010117,Spe,Euglena elastica,"Prescott, 1944",NaN,NaN,6,Euglena,Protozoa,Euglenophyta,NaN,Euglenophyceae,Euglenophycidae,Euglenales,NaN,NaN,Euglenaceae,Euglenoideae,NaN,Freshwater species.,12/17/2009 0:00,NaN,NaN,1.0,0x000000000008F0BE,NaN,NaN,NaN,NaN,NaN,NaN,12/13/2023 0:00,AlgaeBase
2,2172,12040903,Gen,"xxGlenodinium B of Steidinger & Williams, 1970",NaN,NaN,NaN,6,Glenodinium,Chromista,Dinophyta,NaN,Dinophyceae,NaN,Peridiniales,NaN,NaN,Glenodiniaceae,NaN,NaN,Inactivated SM/KC 4/2019; single count occurrence,12/17/2009 0:00,NaN,NaN,0.0,0x000000000007B261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2173,1209,Gen,Warnowia sp.,"Lindemann, 1928",NaN,NaN,6,Warnowia,Chromista,Dinoflagellata,Myzozoa,Dinophyceae,NaN,Gymnodiniales,NaN,NaN,Warnowiaceae,NaN,NaN,NaN,12/17/2009 0:00,NaN,NaN,1.0,0x000000000008F188,NaN,NaN,NaN,NaN,NaN,NaN,12/15/2023 0:00,AlgaeBase
4,2174,5.11E+11,Spe,xxOdostomia acutidens,"Dall, 1844",Odostomia conoidea acutidens,NaN,2,Odostomia,NaN,Mollusca,NaN,Gastropoda,Heterobranchia,NaN,NaN,NaN,Pyramidellidae,NaN,NaN,"Single occurrence, Id by Lyons, but voucher lo...",12/21/2009 0:00,1.0,1.0,0.0,0x000000000008EF0E,NaN,2.0,NaN,NaN,NaN,Pyramidelloidea,11/30/2023 0:00,WORMs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2825,2873,50011001,Spf,Chloeia sp. A of EPC,"Lamarck, 1818",NaN,NaN,1,Chloeia,Animalia,Annelida,NaN,Polychaeta,Errantia,Amphinomida,NaN,NaN,Amphinomidae,Archinominae,NaN,NaN,10/17/2022 0:00,0.0,0.0,1.0,0x00000000000880AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Worms 10/22 JJ
2826,2876,5001620301,Spe,xxMaldane cf. cristata,"Treadwell, 1923",NaN,"de Leon 2009, Treadwell, 1923",1,Maldane,NaN,Annelida,NaN,Polychaeta,Sedentaria,NaN,NaN,NaN,Maldanidae,Maldaninae,NaN,"Type locality: Pacific Ocean, western Mexico; ...",12/8/2022 0:00,0.0,0.0,0.0,0x000000000008ABB7,NaN,NaN,NaN,NaN,Scolecida,NaN,NaN,NaN
2827,2868,370303,Fam,Tubulariidae,"Goldfuss, 1818",NaN,NaN,5,NaN,Animalia,Cnidaria,NaN,Hydrozoa,Hydroidolina,Anthoathecata,Aplanulata,NaN,Tubulariidae,NaN,Colonial,Branched irregularly or unbranched; growing fr...,6/7/2022 0:00,0.0,0.0,1.0,0x00000000000851D1,NaN,NaN,NaN,NaN,NaN,NaN,6/1/2022 0:00,Worms
2828,2874,50014310,Gen,Spiophanes sp.,"Grube, 1860",NaN,NaN,1,Spiophanes,Animalia,Annelida,NaN,Polychaeta,Sedentaria,Spionida,Spioniformia,NaN,Spionidae,NaN,NaN,NaN,10/17/2022 0:00,0.0,0.0,1.0,0x00000000000880AB,NaN,NaN,NaN,NaN,Canalipalpata,NaN,NaN,Worms 10/2022 JJ
2829,2881,304040601,Spe,Raphidiopsis curvata,F.E.Fritsch & M.F.Rich 1930,NaN,NaN,6,Raphidiopsis,Eubacteria,Cyanobacteriota,NaN,Cyanophyceae,Nostocophycidae,Nostocales,NaN,NaN,Aphanizomenonaceae,NaN,NaN,Freshwater species.,1/26/2023 0:00,0.0,0.0,1.0,0x000000000008F09F,NaN,NaN,NaN,NaN,NaN,NaN,12/13/2023 0:00,AlgaeBase

In [32]:
# Check data values
# TS ALL ACTIVE
bbTaxaCtMerge.NAME.value_counts()

NAME
No Insects Present             2764
NAIDIDAE                       2690
Kurtiella planulata            1691
Kirkegaardia sp.               1657
Ampelisca holmesi              1538
                               ...
Glyptotendipes paripes            1
Spilocuma sp.                     1
Paradoneis cf. perdidoensis       1
Tetilla sp.                       1
Hymeniacidon cf. heliophila       1
Name: count, Length: 1981, dtype: int64

In [18]:
#bbTaxaCtMergeSample.drop(bbTaxaCtMergeSample.columns[15],axis=1,inplace=True)
bbTaxaCtMerge.head(2)

,TaxaID,StationID,Grab,TaxaListId,COUNT,Qualifier,VOUCHER_NUM,ID_COMMENTS,LabIDNumber,EnteredBy,EnteredDate,TaxonomistID,IDDate,Units,qcd,TaxaListID,NODCCODE,Type,NAME,REFERENCE_YEAR,PreviousName,DESCRIP_REFERENCE,TAXA_ID,Genus,Kingdom,PHYLUM,SUBPHYLUM,CLASS,SubClass,ORDER,SUBORDER,InfraOrder,FAMILY,SUBFAMILY,COLONIAL/PLANKTONIC?,TaxaDescription,DateAdded,GulfChecklist,FMRIChecklist,Active,TS,FeedingID,EcoGroupId,Epifaunal,FeedingReference,Infraclass,Superfamily,LastReviewed,ReviewSource
0,175920,2484.0,2,988,1.0,NaN,NaN,"orig id= Crepidula sp., bumped up due to gener...",NaN,NaN,10/16/2012 0:00,1.0,NaN,1,1,988,5.10E+11,Fam,Calyptraeidae,"Lamarck, 1809","Crepidula sp. Lamarck, 1799 (all occurrences d...",NaN,2,Crepidula,NaN,Mollusca,NaN,Gastropoda,Caenogastropoda,Littorinimorpha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,0x000000000008EDCC,NaN,3.0,NaN,NaN,NaN,Calyptraeoidea,11/30/2023 0:00,WORMs
1,30264,3401.0,1,988,1.0,NaN,NaN,"no shell;orig id= Crepidula sp., bumped up due...",NaN,NaN,3/11/2010 0:00,177.0,NaN,1,0,988,5.10E+11,Fam,Calyptraeidae,"Lamarck, 1809","Crepidula sp. Lamarck, 1799 (all occurrences d...",NaN,2,Crepidula,NaN,Mollusca,NaN,Gastropoda,Caenogastropoda,Littorinimorpha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,0x000000000008EDCC,NaN,3.0,NaN,NaN,NaN,Calyptraeoidea,11/30/2023 0:00,WORMs

In [152]:
# Random columns introduced in merge? No data. Dropping
#bbTaxaCt.drop(columns=['Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20'],inplace=True)

In [171]:
bbTaxaCtMerge.drop(bbTaxaCtMerge.columns[47,43,40,], axis=1, inplace=True)

In [161]:
bbTaxaCtMerge.Type.value_counts()

Type
Spe    113066
Gen     16887
Fam      9778
Cls      3165
Sbf      2298
Ord       946
Phy       549
Ifo       432
Sbc       223
Spf       151
Sbo        62
Ifc        22
Name: count, dtype: int64

In [24]:
bbTaxaCtMerge.columns[34]
#bbTaxaCtMerge.info()

'COLONIAL/PLANKTONIC?'

In [2]:
bbTaxaCtMerge

NameError: name 'bbTaxaCtMerge' is not defined

In [11]:
bbTaxaCtMerge=bbTaxaCt.merge(bbTaxaList, left_on='TaxaListId',right_on='TaxaListID')

In [13]:
# Random columns introduced in merge? No data. Dropping
#bbTaxaCtMerge.drop(columns=['Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20'],inplace=True)

In [12]:
bbTaxaCtMerge.head(3)

,TaxaID,StationID,Grab,TaxaListId,COUNT,Qualifier,VOUCHER_NUM,ID_COMMENTS,LabIDNumber,EnteredBy,...,Active,TS,FeedingID,EcoGroupId,Epifaunal,FeedingReference,Infraclass,Superfamily,LastReviewed,ReviewSource
0,175920,2484.0,2,988,1.0,NaN,NaN,"orig id= Crepidula sp., bumped up due to gener...",NaN,NaN,...,1.0,0x000000000008EDCC,NaN,3.0,NaN,NaN,NaN,Calyptraeoidea,11/30/2023 0:00,WORMs
1,30264,3401.0,1,988,1.0,NaN,NaN,"no shell;orig id= Crepidula sp., bumped up due...",NaN,NaN,...,1.0,0x000000000008EDCC,NaN,3.0,NaN,NaN,NaN,Calyptraeoidea,11/30/2023 0:00,WORMs
2,32320,3376.0,1,988,1.0,NaN,NaN,"orig id= Crepidula sp., bumped up due to gener...",NaN,NaN,...,1.0,0x000000000008EDCC,NaN,3.0,NaN,NaN,NaN,Calyptraeoidea,11/30/2023 0:00,WORMs

In [122]:
bbTaxaCtMerge.VOUCHER_NUM.value_counts()

VOUCHER_NUM
Ann98075    2
Cru14003    2
Ann97117    2
Ann09042    2
Ann09047    2
           ..
Mol07014    1
Mis07009    1
Ann07023    1
Ann07022    1
Cru95005    1
Name: count, Length: 4469, dtype: int64